* {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#logo {
  width: 10rem;
  justify-self: flex-start;
  padding-left: 1rem;
}

.menu {
  display: flex;
  gap: 4rem;
  padding-right: 5rem;
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Inria Serif", serif;
}

.lista,
.selected {
  font-size: 1.5rem;
}

.lista:hover {
  text-shadow: 2px 2px 5px #ca9ead;
  color: #b76e79;
}

.selected {
  color: #b76e79;
}

main {
  position: relative;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#principal {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  gap: 2rem;
}

.h2-index {
  color: black;
  font-size: 2.5rem;
  font-family: "Inria Serif", serif;
}

.me {
  padding-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
}

#yo {
  width: 20%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21%;
}

h3 {
  font-size: 3rem;
  font-family: "Figtree", sans-serif;
  padding-bottom: 1rem;
}

.parrafo {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 1.25;
}

.iconos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding: 1.3rem;
}

.icono {
  width: 25px;
  transition: all 0.25s ease-in-out;
}

.icono:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.button {
  /* background-color: #CA9EAD; */
  background-color: #d6b981;
  color: white;
  width: fit-content;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 1.2rem;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  transition: all 0.7s ease-in-out;
}

.button:hover {
  background-color: rgba(214, 185, 129, 0.7);
  color: white;
  transform: scale(1.15);
  text-shadow: 3px 3px 5px #d6b981;
  cursor: pointer;
}

.ventajas, .pasos {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  gap: 8rem;
  margin-top: 3rem;
}

.pasos {
  margin-top: 0;
  height: 45vh;
  background-color: white;
}

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  box-sizing: border-box;
}

.iconoCaja {
  padding-bottom: 1rem;
  width: 52px;
  height: auto;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: "Figtree", sans-serif;
  font-weight: normal;
}

.boton-container {
  display: flex;
  background-color: #fafafa;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.image-transparent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.p-trans {
  font-family: "Figtree", serif;
  font-size: 3rem;
  color: #d6b981;
  font-weight: normal;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding-left: 7rem;
}

#contacto2 {
  width: 100%;
}

.contact-h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
}

.contact-h4,
.contact-p {
  font-family: "Figtree", serif;
}

.contact-h4 {
  font-size: 1.7rem;
}

.contact-p {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
}

#logo-footer {
  width: 5rem;
}

.footer-row {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-parrafo {
  font-family: "Figtree", sans-serif;
  font-size: 1.25rem;
}

/* Contacto */

.h2-contacto {
  position: absolute;
  top: 20%;
  right: 7.5%;
  color: black;
  font-size: 2.5rem;
  font-family: "Inria Serif", serif;
  z-index: 1;
}

form {
  position: absolute;
  top: 30%;
  right: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  padding: 1rem;
  z-index: 1;
}

input,
textarea {
  padding: 0.7rem 0;
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: grey;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}
